.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 50px;
    background-color: #44576D;
    color: #E6E6E6;
    height: calc(70px - 40px); // you need to include padding sizing too, it's multiplied by 2, cuz it's top and bottom padding
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
        margin-right: 10px;
        text-decoration: none;
        color: #44576D;
        background-color: #E6E6E6;
        transition: 0.1s ease-in-out;
        font-size: 1.1rem;
        line-height: 40px;
        padding: 0 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;

        .icon-navbar {
            margin-right: 5px;
        }

        &:visited {
            color: #44576D;

        }

        &:hover {
            background-color: darken(#E6E6E6, 10%)
        }
    }

    .logo-container {
        height: 40px;
        margin-right: 40px;
    }

    .logo {
        height: 80px;
    }
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;

    .button {
        margin-left: 10px;
        text-decoration: none;
        transition: 0.1s ease-in-out;
        font-size: 1rem;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        border-radius: 5px;
    }

    .login {
        color: #E6E6E6;
        background-color: transparent;
        border: 1px solid #E6E6E6;

        &:hover {
            background-color: #E6E6E6;
            color: #44576D;
        }
    }

    .signup {
        color: #44576D;
        background-color: #e6e6e6;
        border-color: #44576D;

        &:hover {
            background-color: darken(#E6E6E6, 10%);
        }
    }
}

.icon-menu {
    margin-right: 5px;
}

.welcome-text {
    margin: 2px 10px 10px;
}

.navbar-menu {
    transform: translateY(5%) translateX(-2%);
}