.notifications-sidebar {
    width: 100%;
    height: calc(100vh - 70px);
    position: fixed;
    z-index: 99999;
    background: #0000005e;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    transition: linear 140ms;

    &.closed {
        pointer-events: none;
        opacity: 0;

        .container {
            margin-right: -301px;
        }
    }

    .container {
        width: 300px;
        height: 100%;
        background: #f1f1f1;
        border-left: 1px solid #9b9b9b;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        transition: linear 120ms;

        .title {
            width: 90%;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-content: center;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0px 5%;
            background: #e6e6e6;
            font-weight: 500;

            svg {
                cursor: pointer;
            }
        }

        .notifications {
            width: 90%;
            padding: 0px 5%;
            height: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            overflow-y: auto;

            .clear-container {
                width: 90%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                color: #747474;
                height: 30px;
                transition: linear 120ms;
                cursor: pointer;
                user-select: none;
                margin: 10px 0px;
                padding: 0.5em;
                border-radius: 5px;

                &:hover {
                    background: darken(#e6e6e6, 5%);
                }

                svg {
                    margin-right: 10px;
                }
            }

            .notification {
                width: calc(100% - 20px);
                padding: 0px 10px;
                min-height: 70px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                margin-top: 10px;
                border-radius: 5px;
                background: #44576d;
                color: #e6e6e6;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                pointer-events: all;

                .content-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    pointer-events: none;

                    .icon {
                        width: 30px;
                        height: 100%;
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        margin: 0;
                    }
                }

                &:hover {
                    .dimiss-container {
                        right: 0px;
                        padding: 0px 5px;
                    }
                }

                .dimiss-container {
                    position: absolute;
                    right: -20px;
                    font-size: 19px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.281);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    transition: linear 80ms;
                    cursor: pointer;
                    pointer-events: all;

                    &:hover {
                        background-color: #768a96;
                    }

                    &:hover {
                        right: 0;
                    }
                }
            }
        }
    }
}