.profile-body-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .profile-body-reviews-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}