.container {

    display: flex;
    justify-content:center;
    align-items:center;
    background-color: aquamarine;
    
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 10px;
  }