.profile-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        width: 90%;
        height: fit-content;


        .profile-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            height: fit-content;
            padding: 2em;
            width: 15em;
            max-width: 15em;
            border-radius: 10px;
            background: linear-gradient(0deg, #eaeaea 60%, rgba(0, 0, 0, 0.3) 150%) center no-repeat, url(https://picsum.photos/200);

            box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);

            .avatar {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color: #000000;
                margin: 0 0 1em 0;
                box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);
            }

            .profile-header-rating {
                width: fit-content;
                margin: auto;
            }
        }

        .profile-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            height: fit-content;
            padding: 1em 2em;
            margin: 0 0 1em 2em;
            width: 80%;
            border-radius: 10px;
            background-color: #eaeaea;
            box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);

            .profile-body-pagination {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1em;
                width: 100%;
                margin: 0 0 1em 0;
                padding: 0 0 1em 0;
                border-bottom: 1px solid rgba(41, 41, 41, 0.5);

                .profile-body-pagination-button {
                    font-size: 1.2em;
                    padding: 1em;
                    border-radius: 10px;
                    background-color: #f1f1f1;
                    box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: darken(#f1f1f1, 5%);
                    }
                }

                .active {
                    background-color: #AAC7D8;

                    &:hover {
                        background-color: darken(#AAC7D8, 5%)
                    }
                }

            }
        }
    }
}

.profile-card {
    max-width: 80%;
    padding: 1rem;
    background-color: #d8d8d8;
}