.profile-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        width: 90%;
        height: fit-content;

        .profile-body {
            display: flex;
            gap: 2em;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            height: fit-content;
            margin: 0 0 1em 2em;
            width: 80%;

            .profile-body-card {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                align-items: flex-start;
                width: 100% !important;
                height: fit-content;
                padding: 0 1em 1em 1em;
                width: auto;
                text-align: left;
                border-radius: 10px;
                background-color: #eaeaea;
                box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);

                .profile-body-card-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    width: 100%;
                    height: fit-content;
                    margin-bottom: 1em;
                    padding: 1em 0;
                    border-bottom: 1px solid rgba(41, 41, 41, 0.5);

                    .profile-body-card-icon {
                        width: 1.2em;
                        height: 1.2em;
                        margin-right: 0.5em;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }

            .profile-body-pagination {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1em;
                width: 100%;
                margin: 0 0 1em 0;
                padding: 0 0 1em 0;
                border-bottom: 1px solid rgba(41, 41, 41, 0.5);

                .profile-body-pagination-button {
                    font-size: 1.2em;
                    padding: 1em;
                    border-radius: 10px;
                    background-color: #f1f1f1;
                    box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: darken(#f1f1f1, 5%);
                    }
                }

                .active {
                    background-color: #AAC7D8;

                    &:hover {
                        background-color: darken(#AAC7D8, 5%)
                    }
                }

            }
        }
    }
}

.profile-card {
    max-width: 80%;
    padding: 1rem;
    background-color: #d8d8d8;
}

.text-display {
    white-space: pre-line;
    text-align: left;
}