.collab-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: fit-content;
    padding: 1em;
    margin: 0 0 1em 0;
    width: auto;
    text-align: left;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px 0 rgba(41, 41, 41, 0.5);

    // https://stackoverflow.com/questions/35351706/how-to-render-a-multi-line-text-string-in-react
    .text-display {
        white-space: pre-line;
        text-align: left;
    }
}